@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    /* set as default */

    --color-primary: "#BDB395";
    --color-secondary: "#F2E2B1";
    --color-accent: "#D5C7A3", ;
    /* --color-neutral: "#F6F0F0"; */
    --color-base-100: "#F6F0F0";
}